
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f6f6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f9ff;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #1abc9c;
}


.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("hostel.jpg");
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
}

.btn {
    background-color: #1abc9c;
    padding: 12px 24px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #16a085;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #2c3e50;
        width: 100%;
        flex-direction: column;
        display: none;
        padding: 20px 0;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}
